<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Shedule</title>
</head>
<body class="bg-color-primary text-color-white tracking-wider">
<header>
  <nav class="container flex justify-between items-center relative">
    <div class="w-[44rem] py-5 text-color-secondary font-bold text-2xl">
      <a href="/">
        <div class="text-color-white">Tournament Scheduling</div>
        System
      </a>
    </div>
    <div>
      <ul class="hidden lg:flex items-center space-x-2">
        <li><a href="/" class="hover:text-color-secondary ease-in duration-200 mr-2">Home</a></li>
        <li><a th:onclick="'window.location.href = \'/tournament?searchParam=&amp;searchCriteria=All\''"
               class="hover:text-color-secondary ease-in duration-200 mr-2">View Schedules</a></li>
        <li><button class="bg-color-secondary px-2 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200"><a href="mytournaments"> Edit My Tournament</a></button></li>
        <li><button class="bg-color-secondary px-2 py-3 rounded-md capitalize font-bold opacity-80 ease-in duration-200"><a href="tournamentnew"> Schedule Tournament</a></button></li>
      </ul>
    </div>


  </nav>
</header>
<section class="bg-color-primary flex items-center justify-center mb-5">
  <div class="bg-color-secondary p-2 rounded-lg border-2 border-black flex">
    <div class=" px-8">
      <h2 class="font-bold text-2xl mb-4 text-color-primary">Tournament Info</h2>
      <form th:action="@{/tournament2}" th:object="${tournamentForm}" method="post">
        <div class="flex " >
          <div class="hidden">
            <input name="noOfTeams" th:value="${tournamentForm.noOfTeams}" />
            <input name="tournamentStartDate" th:value="${tournamentForm.tournamentStartDate}" />
            <input name="tournamentEndDate" th:value="${tournamentForm.tournamentEndDate}" />
            <input name="nameOfTournament" th:value="${tournamentForm.nameOfTournament}" />
            <input name="tournamentDuration" th:value="${tournamentForm.tournamentDuration}" />
          </div>
          <div class="">
            <h2 class= "font-bold text-xl text-color-primary mr-3">Type Of Tournament</h2>
              <label><input type="radio" class= "mt-2" th:name="typeOfTournament" th:value="Knockout"  />Knockout</label><br />
              <label><input type="radio" class= "mt-2" th:name="typeOfTournament" th:value="RoundRobin"  checked="checked" />RoundRobin</label><br />
              <label><input type="radio" class= "mt-2" th:name="typeOfTournament" th:value="GroupStage"  />GroupStage</label><br />
          </div>
          <div class="flex flex-col">
            <h2 class= "font-bold text-xl text-color-primary">Team Names</h2>
            <table class="flex flex-col">

              <tr th:each="teamIndex : ${#numbers.sequence(0, tournamentForm.noOfTeams - 1)}" class="flex flex-col">
                <td><label th:text="${'Team ' + (teamIndex + 1)}" class="font-bold text-lg text-color-primary"></label></td>
                <td><input required  type="text" th:id="'team' + ${teamIndex}" th:name="'teamNames[' + ${teamIndex} + ']'" placeholder="Team" class="p-2 mt-2 mb-4 px-4 py-3 rounded-xl text-black border-2 border-color-primary" /></td>
              </tr>
            </table>
          </div>
          <div class="flex flex-col">
            <h2 class= "font-bold text-xl text-color-primary">Venues</h2>
            <table>
              <tr th:each="venueIndex : ${#numbers.sequence(0, tournamentForm.noOfVenues - 1)}"  class="flex flex-col">
                <td><label th:text="${'Venue ' + (venueIndex + 1)}" class="font-bold text-lg text-color-primary"></label></td>
                <td><input required  type="text" th:id="'venue' + ${venueIndex}" th:name="'venueList[' + ${venueIndex} + ']'" placeholder="Venue" class="p-2 mt-2 mb-4 px-4 py-3 rounded-xl text-black border-2 border-color-primary"></td>
              </tr>
            </table>
          </div>
          <div class="flex flex-col">
            <h2 class= "font-bold text-xl text-color-primary">Umpires</h2>
            <table >
              <tr th:each="umpireIndex : ${#numbers.sequence(0, tournamentForm.noOfUmpires - 1)}" class="flex flex-col">
                <td><label th:text="${'Umpire ' + (umpireIndex + 1)}" class="font-bold text-lg text-color-primary"></label></td>
                <td><input required  type="text" th:id="'umpire' + ${umpireIndex}" th:name="'umpireList[' + ${umpireIndex} + ']'" placeholder="Umpire" class="p-2 mt-2 mb-4 px-4 py-3 rounded-xl text-black border-2 border-color-primary"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="flex justify-between">
          <button data-modal-target="authentication-modal" class="mt-8 bg-color-primary px-4 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200" onclick="window.location.href='/tournamentnew';">Back</button>
          <button data-modal-target="authentication-modal" class=" mt-8 border-2 border-color-primary bg-green-500 px-4 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200" id="abc">Next</button>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>