<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home Page</title>
</head>
<body class="bg-color-primary text-color-white tracking-wider">
<header>
    <nav class="container flex justify-between items-center relative">
        <div class="w-[44rem] py-5 text-color-secondary font-bold text-2xl">
            <a href="/">
                <div class="text-color-white">Tournament Scheduling</div>
                System
            </a>
        </div>
        <div>
            <ul class="hidden lg:flex items-center space-x-2">
                <li><a href="/" class="hover:text-color-secondary ease-in duration-200 mr-2">Home</a></li>
                <li><a th:onclick="'window.location.href = \'/tournament?searchParam=&amp;searchCriteria=All\''"
                       class="hover:text-color-secondary ease-in duration-200 mr-2">View Schedules</a></li>
                <li><button class="bg-color-secondary px-2 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200"><a href="mytournaments"> Edit My Tournament</a></button></li>
                <li><button class="bg-color-secondary px-2 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200"><a href="tournamentnew"> Schedule Tournament</a></button></li>
            </ul>
        </div>

    </nav>
</header>
<section class="bg-color-primary   flex items-center justify-center ">

    <div class=" bg-color-secondary p-5 rounded-lg border-2 border-black  flex">
        <div class="sm:w-1/2 px-8">
            <h2 class="font-bold text-2xl mb-4 text-color-primary">SignUp</h2>
            <form th:action="@{/signup1}" th:object="${actor}" method="post" class="flex flex-col">
                <!-- Add error message for general errors -->
                <div th:if="${error}" class="text-red-800 mb-4">Error: <span th:text="${error}"></span></div>
                <h2 class="font-bold text-xl text-color-primary">Name</h2>
                <input required class="p-2 mt-2 mb-4 px-4 py-3 rounded-xl text-black border-2 border-color-primary" type="text" name="username" placeholder="Enter Your Name">
                <h2 class="font-bold text-xl text-color-primary">Password</h2>
                <input required class="p-2 mt-2 mb-4 px-4 py-3 rounded-xl text-black border-2 border-color-primary" type="password" name="password" placeholder="Password">
                <h2 class="font-bold text-xl text-color-primary">Confirm Password</h2>
                <input required class="p-2 mt-2 mb-4 px-4 py-3 rounded-xl text-black border-2 border-color-primary" type="password" name="confirmPassword" placeholder="Confirm Password">
                <div th:if="${passwordMismatch}" class="text-red-800 mb-4">Error: Passwords do not match</div>
                <button data-modal-target="authentication-modal" class="mt-8 bg-color-primary px-4 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200">Create</button>
            </form>

        </div>
        <div class="w-1/2 sm:block hidden ">
            <img class="rounded-2xl object-scale-down border-2 border-color-primary h-full w-96" th:src="@{peakpx (2).jpg}" />
        </div>
    </div>

</section>
</body>
</html>